img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #00000f;
}
/*
     FILE ARCHIVED ON 11:30:05 Jun 07, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:17:56 Dec 21, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.494
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.008
  esindex: 0.012
  cdx.remote: 80.597
  LoadShardBlock: 282.448 (3)
  PetaboxLoader3.datanode: 310.87 (4)
  PetaboxLoader3.resolve: 427.736 (2)
  load_resource: 492.833
*/